obj/
run/
node_modules/
test_integrity/
tools/interp_fem/run/
tools/interp_fem/run_old/
tools/template_input_files/
tools/in.*
tools/o.*
tools/*.vtu
tools/vtu.*
tools/test.*
tools/*.test
tools/large/
tools/small/
